<div class="page-container row-fluid" ng-app="userApp">
  <div class="page-content">

    <div class="content">
      <!-- BEGIN PAGE TITLE -->

      <!-- END PAGE TITLE -->
      <!-- BEGIN PlACE PAGE CONTENT HERE -->

        <div  ng-view>
      </div>


    </div>


  </div>

  <!-- END PLACE PAGE CONTENT HERE -->
</div>
</div>


<!-- END PAGE CONTAINER -->
</div>

<% end %>



